
/* .about{
  float: left;
  max-width: 30rem;
  margin-right: 3rem;
} */
/* ====== HERO ========= */
h4, .h4 {
    font-size: 30px;
    text-align: center;
}

/*  === Login/SignUp buttons*/
a span{
  font-size: 2em;
  text-align: center;
  padding: 5px;
  margin: 5px;
}

div.logsig{
margin-bottom: 5px;
}


.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    margin-top: 5px;
}


.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  /*   ===    ========    ===*/

.resources a{
  font-weight: 500;
  margin-right: 3rem;
}
.resources a:hover{
  color: #fff;
}

:root {
  --jumbotron-padding-y: 3rem;
}


.hero {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
  background-image: url("img/Crowd-of-People.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.jumbotron-heading{
  font-weight: 500;
  /* background: white; */
  font-size: 4em;
}
.jumbotron h1 {
    line-height: 1;
    color: black;
}

.jumbotron .container{
  max-width: 40rem;
  background: rgba(255,255,255, 0.6  );
}
.jumbotron p{
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0, 0.5);
}
.text-muted{
  color:rgb(30, 34, 24);
}
div .icons{
  font-size: 14rem;



}
.album{
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}
div.pdf{
  margin:10px;
}
/* profile previews */
.card{
  margin: 10px;
  /* border: 1px solid black; */

}
div.profilePreview{
margin:15px;

}
div.previewBody{
  margin-top: 10%;
}
div.imgCirc{
  border-radius: 60%;
height: 100px;
width: 100px;
}
.card-text{
  font-size: 85%;
}


img{
  max-width: 40%;
  border-radius: 60%;
}

#profiles{
width:90%;
}
/*  =====  ============= = == */
li{
  list-style: none;
}

footer {
  width: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
  font-size: 1.6em;
  text-align: center;
}

/* ============== */

@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
